body {
  font-size: 15px;
  margin: 0;
  line-height: 20px;
  background-color: #f2f2f2;
}

body,
html,
#app,
#app > div {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px;
}

.MuiListItemText-inset {
  padding-left: 0px !important;
}

.MiniDrawer-ListItemIcon-21 {
  min-width: 30px !important;
}

.MuiSvgIcon-root {
  font-size: 1.3rem !important;
}

hr {
  width: 100%;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 35px !important;
}

.css-2xinfk-MuiButtonBase-root-MuiButton-root {
  min-width: 32px !important;
  padding: 4px !important;
}
